<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Формы</title>
</head>
<body>
    Вы выбрали:&nbsp;{{ selected_choice.content }}
    <form action="{% url 'forms' 1 %}" method="post">
    {% csrf_token %}
    <p>{{ question }}</p>
    {% for answer in answers %}
        <input type="radio" name="choice" id="choice{{ answer.id }}" value="{{ answer.id }}" />
        <label for="choice{{ answer.id }}">{{ answer.content }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
</form>
</body>
</html>