{% load staticfiles %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/system.js" %}"></script>
<form id="target" action="/form/" method="post">
{% csrf_token %}
{{ form }}
<!-- <input type="submit" value="Submit" /> -->
</form>

<script type="text/javascript">
   $(function() {
      $( "#other" ).click(function() {
        $( "#target" ).submit();
      });
   });
</script>


<p><a id="test">Hello</a></p>
<p><a id="other">Not Hello</a></p>

<script type="text/javascript">
$(function() {
    $('#clickme').click(function () {
	    $.post('/ajax/test/', {'text': $('#text-ajax').val()})
            .done(function( data ) {
                data = $.parseJSON(data);
                $('#text-ajax').val(data['new-text']);
            });
    });
})
</script>

<form action="" method="POST">
{% csrf_token %}
<input id="text-ajax" type="text" value="" />
<input id="clickme" type="button" value="Кликни меня" />
</form>


