{% extends 'main.html' %}

{% block quiz %}
{% if staff_list %}
    {% for unit, staff_l in staff_list.items %}
        {{ unit }}
        <ul class="side-nav">
        {% for staff in staff_l %}
            {% if staff.available %}
                <li><a href="{% url 'quiz' staff.id %}">{{ staff.name }}</a> </li>
            {% else %}
                <li>{{ staff.name }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No units are available.</p>
{% endif %}
{% endblock %}