{% extends 'main.html' %}
{#{% load staticfiles %}#}
{#<script src="{% static "js/works.js" %}"></script>#}

{% block quiz %}

{% if not end %}
<div class="row">
    <span class="success label"> {{ staff_name }} </span>
    <br/>
    <br/>
    <br/>
    {% if select_error %}
        <div class="row">
            <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1 text-center column">
                <div data-alert class="alert-box alert radius">
                    Необходимо выбрать один из вариантов.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    {% endif %}
    <form id="quiz" action="" method="post">
    {% csrf_token %}
        {% for field in mform %}
            <h3 class="subheader text-center"> {{ field.label }} </h3>
            <br/>
            <center>это качество проявляется:</center>
{#            TODO: убрать быдлокод#}
            <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1 columns">{{ field }}</div>
        {% endfor %}
        <div class="row">
            <div class="large-12 medium-12 small-12 column text-center">
                <input type=submit class="button radius" value="Ответить">
            </div>
        </div>
    </form>
</div>

{#{% for c in con %}#}
{#    {{ c.sql }}<br/>#}
{#{% endfor %}#}
{% else %}
    <div class="row">
        <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1 text-center column">
            <h4 class="subheader">Вы закончили своё участие в тестировании. Спасибо.</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1 text-center column">
            <a href="{% url 'end'%}" class="button radius">Завершить</a>
        </div>
    </div>
{% endif %}
{% endblock %}
