{% extends 'main.html' %}
{#{% load staticfiles %}#}
{#<script src="{% static "js/works.js" %}"></script>#}

{% block quiz %}
<div class="row">
    <span class="success label"> {{ staff.name }} </span>
    <br/>
    <form id="quiz" action="" method="post">
    {% csrf_token %}
    {#{{ mform }}#}
        {% if content %}
                {% for c in content %}
                    {% for field in c.form %}
                        <h3 class="subheader"> {{ field.label }} </h3>
                        <br/>
                        <div class="medium-1 columns"></div>
                        <div class="medium-1 columns"></div>
                        <div class="medium-5 columns">{{ field }}</div>
                    {% endfor %}
    {#                {{ c.form.as_p }}#}
                {% endfor %}
        {% endif %}

    </form>
</div>
{#    onclick="document.getElementById('quiz').submit(); return false;"#}
    <div class="row">
        <div class="large-10 small-offset-1 rows">
            <ul class="pagination">
                {% if content.has_previous %}
                    <li class="arrow"><a id="fuck" href="/mform/{{ staff.id }}/{{ content.previous_page_number }}/"
                            onclick="document.getElementById('quiz').submit();return false;">
                        &laquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in content.paginator.page_range %}
                    {% if page == content.number %}
                        <li class="current"><a id="fuck" href="/mform/{{ staff.id }}/{{ page }}/"
                                onclick="document.getElementById('quiz').submit(); return false;">{{ page }}</a></li>
                    {% else %}
                        <li><a id="fuck" href="/mform/{{ staff.id }}/{{ page }}/"
                                onclick="document.getElementById('quiz').submit(); return false;">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if content.has_next %}
                    <li class="arrow"><a id="fuck" href="/mform/{{ staff.id }}/{{ content.next_page_number }}/"
                            onclick="document.getElementById('quiz').submit(); return false;">
                        &raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
<br/>
{#    {% for i in con %}#}
{#        <p>{{ i.sql }} ----- {{ i.time }}</p>#}
{#    {% endfor %}#}

{% endblock %}
