{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0"/>
    <title>Отчёт: {{ staff_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.jqplot.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}"/>

    <script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.jqplot.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jqplugins/jqplot.barRenderer.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jqplugins/jqplot.categoryAxisRenderer.min.js" %}"></script>

</head>
<body>
<div class="row">
    <div class="large-12 medium-12 small-12 text-center">
        <br/>
        <br/>
        <p>Результат по всем вопросам теста "Преподователь глазами студента"</p>
        <h4>{{ staff_name }}</h4>
        <h6>Кафедра "{{ unit_name }}"</h6>
        <hr/>
    </div>
</div>
<div class="row">
    {% for key, question in data.items %}
        <div class="row text-center">Впрос №{{ key }}: {{ question.content }}</div>
        <br/>
        <div class="row">
            <div id="chart{{ key }}" class="large-6 medium-5 small-6 column">
                    <script class="code" type="text/javascript">$(document).ready(function(){
                        $.jqplot.config.enablePlugins = true;
                        var y = [{%for y in question.yaxis %} {{ y }}, {% endfor %}];
                        var ticks = [{%for t in question.xaxis %} {{ t }}, {% endfor %}];
                        plot1 = $.jqplot('chart{{ key }}', [y], {
                            seriesDefaults:{
                                renderer:$.jqplot.BarRenderer
                            },
                            axes: {
                                xaxis: {
                                    renderer: $.jqplot.CategoryAxisRenderer,
                                    ticks: ticks
                                }
                            }
                        });
                    });</script>
            </div>
            <div class="large-6 medium-5 small-6 column text-center">
                <br/>
                <div class="large-offset-1 medium-offset-1 small-offset-1">
                    <table>
                    <tbody>
                        <tr>
                            <td>Среднее зачение</td>
                            <td>{{ question.mean }}</td>
                        </tr>
                        <tr>
                            <td>СКО</td>
                            <td>{{ question.std }}</td>
                        </tr>
                        <tr>
                            <td>Медиана</td>
                            <td>{{ question.median}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                <hr class="myprint"/>
            {% else %}
                <hr/>
            {% endif %}
        </div>
    {% endfor %}
    <br/>
    <br/>
</div>
</body>
</html>