{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" />
    <title>Опросы</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
</head>
<body>
<div class="row">
    <div class="large-12 columns">
    <div class="nav-bar right">
        {% if is_user %}
            <a href="{% url 'logout' %}" class="button">Выйти<br>{{ user }}</a>
        {% else %}
            <a href="{% url 'reports' %}" class="button">Получить результат</a>
        {% endif %}
    </div>
        <h1>Преподаватель глазами студента</h1>
        <hr/>
    </div>

</div>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
      	<div class="panel">
            {% block quiz %}{% endblock %}
      	</div>
      </div>
    </div>

<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; КрИЖТ ИрГУПС {% now "Y" %}</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Помощь</a></li>
</ul>
</div>
</div>
</div>
</footer>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script src="{% static "js/system.js" %}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>