{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" />
    <title>Опросы</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
    {#  <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}"> #}

</head>
<body>
<div class="row">
    <div class="large-12 columns">
    <div class="nav-bar right">
            <a href="#" class="button">Получть результат</a>
    </div>
        <h1>Преподаватель глазами студента</h1>
        <hr/>
    </div>

</div>
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
            {% block quiz %}{% endblock %}
      	</div>
      </div>
    </div>

<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; КрИЖТ ИрГУПС {% now "Y" %}</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Получить результат</a></li>
</ul>
</div>
</div>
</div>
</footer>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
{#    <script src="{% static "js/vendor/modernizr.js" %}"></script>#}
    <script src="{% static "js/works.js" %}"></script>
    <script src="{% static "js/system.js" %}"></script>
    <script>
        //jQuery.noConflict();
        $(document).foundation();
        $(".subheader").click(function(){
            $.post('/ajax/test2/', {'text': 'hello',
                                    'form': $("#quiz").serialize()})
                .done(function( data ) {
                    data = $.parseJSON(data);
                    console.log(data['new-text']);
                    console.log(data['f']);
            });
        })
    </script>
</body>
</html>